body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS",cursive, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #8B4513;
    background: #FFE4C4;
     background-image: url('../img/back.jpg');
}

h1 {
    font-size: 56px;
    line-height: 64px;
    display: table;
    margin: 0 auto 20px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    display: table;
    margin: 0 auto 20px;
}
p {
    font-size: 20px;
    line-height: 30px;
    padding-left: 130px;
    padding-right: 130px;
    display: table;
    margin: 0 auto 20px;
}
ul {
    display: table;
    margin: 0 auto 8px;
}
.description {
    margin: 0 auto 40px;
}
.specifications{
    margin: 0 auto 40px;
}
hr {
    color: #8B4513;
}
li {
    font-size: 20px;
    line-height: 10px;
    padding-left: 130px;
    padding-right: 130px;
    display: table;
    margin: 0 auto 20px;
}
.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 20px;
    border-radius: 16px;
    
}
.scale {
    transition: 1s; /* Âðåìÿ ýôôåêòà */
    margin: 0 auto 20px;
    border-radius: 16px;
}

    .scale:hover {
        transform: scale(1.2); /* Óâåëè÷èâàåì ìàñøòàá */
    }
.other_pr {
    font-size: 23px;
    line-height: 30px;
    padding-left: 130px;
    padding-right: 130px;
    display: table;
    margin: 0 auto 20px;
}
.val {
    padding: 6px 20px;
    background-color: aliceblue;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #8B4513;
    color: #ffffff;
}
a:link {
    color:aliceblue; /* Цвет ссылок */
}

a:visited {
    color: aliceblue; /* Цвет посещенных ссылок */
}

a:active {
    color: #FFE4C4; /* Цвет активной ссылки */
}
