html {
    font-size: 16px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}
svg
{
  box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

    a:hover {
        color: #555;
    }
/* Header */

.modal-body img {
    max-width: 100px;
}
.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-weight: 500;
  
    text-transform: uppercase;
   }

.navbar-nav{
    padding: 6px;
    background: #AEAEAE;
border-radius: 15px;

}
/*tut tipo logo*/
.back{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
}
.ellipse{
position: absolute;

  height: 400px; 
  width: 400px; 
  shape-outside: circle(25%);  
  clip-path: circle(50% at 0 50%);; 
  
background: #AEAEAE;
transform: rotate(90deg);
}
.navbar-brand{
    margin-top: 10px;
    position: absolute;
    font-size: 39px;
    color: #ffffff;
    font-family: 'Raleway Bold', sans-serif;
}
.lapka{
    scale: 0.25;
    margin-top: -8.5%;
    position: absolute;
    fill:white;
    
}
@media (min-width: 100px) and (max-width: 1000px){
    .lapka {
        margin-top: -33%;
    }
   }
.nav-bar{
    background: #AEAEAE;
    border-radius: 6px;
}
.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}
/* Header */
/* Carousel */
.my-carousel {
    margin-top: 10%;
    padding: 0;
}

    .my-carousel .carousel-item {
        display: flex;
        max-height: 500px;
    }

        .my-carousel .carousel-item img {
            object-fit: cover;
        }
/* Carousel */

/* Product card */
.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

    .product-card:hover {
        box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
        
        -ms-transform: rotateZ(3deg);
        transform: rotateZ(3deg);
    }

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 20px;
}

.product-thumb img {
    max-width: 100%;
    max-height: 100%;
    
}

.product-details {
    padding: 10px;
}


.product-details h4 a {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

    .product-details p {
        font-size: 15px;
        margin-bottom: 20px;
        color: #AEAEAE;
        height: 44px;
        overflow: hidden;
    }

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-size: 18px;
    color: #FF4500;
    font-weight: 600;
}

    .product-price small {
        color: #ccc;
        font-weight: 400;
        text-decoration: line-through;
        margin-right: 5px;
    }

.product-links a {
    font-size: 20px;
    margin-left: 10px;
}
/* Product card */

/* Footer */
.footer {
    background-color: #705335;
}

    .footer h4 {
        color: #ccc;
        text-transform: uppercase;
        font-size: 16px;
        border-bottom: 1px solid #666;
        padding-bottom: 3px;
    }

    .footer a {
        text-decoration: none;
        transition: all .3s;
    }

        .footer a:hover {
            color: #fff;
            text-decoration: underline;
        }

    .footer a, .footer li {
        color: #c8c8c8;
    }

        .footer li a {
            display: block;
        }

.footer-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
/* Footer */
.main_lapka{
    min-height: 500px;
    display: flex;
    justify-content:flex-end;
    align-items:end;
}
.paw{
    scale: 2.6;
    animation-duration: 3s;
    animation-name: hi;
    margin-right: 20%;
    
    
    position: absolute;
}
@keyframes hi{
    from {
        margin-right: -8.5%;
      }
    
      to {
        
        margin-right: 20%;
      }
}
@media (min-width: 100px) and (max-width: 1000px){
    .paw{
        position: absolute;
        scale: 1;
        animation-duration: 3s;
        animation-name: hi;
        margin-right: -34%;
        
       
    }
    @keyframes hi{
        from {
            margin-right: 0%;
          }
        
          to {
            margin-right: -34%;
          }
   }
}
.name_prod {
    transform: rotate(-90deg);
    font-size: 50px;
    margin-right: 65%;
    margin-bottom:5%;
    font-family: 'Raleway Bold', sans-serif;
}
@media (min-width: 100px) and (max-width: 1000px){
    .name_prod{
        padding-top: 5%;
        font-size: 23px;
        margin-right: 70%;
    }
    }
/* menu */
.main-menu{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 23%;
    align-content:space-around;
    justify-content:space-evenly;
}
.qween{
    position: relative;
    margin-top: -15%;

}

.best_cat{
    width:393px;
    height:393px;
    background-image:url("img/products/2.jpg");
    background-size: cover;
    border-radius: 35px;
    margin-bottom:15%;
    
}
.main-menu-inner{
    width:393px;
    height:393px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}
.main-menu-inner-inner{
    min-width:393px;
    min-height:200px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
svg
{
  box-sizing: border-box;
}
.catalog_a{
    transition: all .3s;
    
}
.catalog_a:hover{
         
    -ms-transform: rotateZ(3deg);
    transform: rotateZ(3deg);   
}
/* pro nas */
.about_us{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    align-items: center;
    justify-content:flex-start;

}
.about_us dev p{
    font-size: 26px;
    
}
@media (min-width: 100px) and (max-width: 1000px){
    .about_us dev p{
        font-size: 22px;
    }}

.about_us dev {
    margin-left: 10%;
    
}
.lapka_like{
    margin-left: -2%;
}